.grid-box{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 20vh 60vh 20vh;
}

h1{
    text-align: center;

}


header{
    grid-column: 1/3;
    grid-row:1/2;
}

footer{
    text-align: center;
    grid-column: 1/3;
    grid-row: 3/4;
}

li{
    list-style-type: none;
    padding-bottom: 5px;
}